@using static Medipharmacy.Modules.Module
@model Medipharmacy.ViewModels.StatusViewModel

<style>
    .alert {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        border: none;
        border-radius: 0;
    }
</style>


@if(Model.Code.Equals(Status.FAILURE))
{
    <div class="alert text-center" role="alert" style="background-color: red;">
        @Model.Message
    </div>
}
else if(Model.Code.Equals(Status.WARNING))
{
    <div class="alert text-center" role="alert" style="background-color: orangered;">
        @Model.Message
    </div>
} else if(Model.Code.Equals(Status.SUCCESS))
{
    <div class="alert text-center" role="alert" style="background-color: greenyellow;">
        @Model.Message
    </div>
}